*{margin:0;padding:0;}
.wrap{
    width:500px;
    height:500px;
    border: 10px solid rgb(19, 165, 153);
    margin:20px auto 0;
    position:relative;
}
.wrap a{
    width:20px;
    height:80px;
    background-color: rgba(255,255,255,0.2);
    position:absolute;
    top:220px;
    text-decoration: none;
    text-align:center;
    line-height:80px;
    font-size:30px;
    font-weight:bold;
    color:gray
}
.wrap a:hover{background:rgb(19, 165, 153);color:white;}
#last{left:0;}
#next{right:0;}
#span1,#p1{
    position:absolute;
    bottom:0;
    width:500px;
    height:30px;
    line-height:30px;
    color:white;
    background:black;
    text-align:center;
    background-color: rgba(216, 155, 155, 0.5);
}
#span{bottom:0;}
#p1{top:0;}
img{width: 500px;height:500px;object-fit:cover;}
